In [1]:
import darts_advisor

In [2]:
# 'discount' by 'd' for every 3 darts thrown in order to evalaute relative speen of paths
d = 0.95

# how accurate is our player?
a = {
'pdd': 0.45,
'pds' : 0.325,
'ptt' : 0.4,
'pbb' : 0.40,
'pbob' : 0.4
}

In [3]:
p = darts_advisor.Player(d, a)

In [10]:
p.strategies.head(30)

        first     second      third
0    finished   finished   finished
1        bust       bust       bust
2    double 1   double 1   double 1
3    single 1   single 1   single 1
4    double 2   double 2   double 2
5    single 1   single 3   single 1
6    double 3   double 3   double 3
7    single 3   single 5   single 3
8    double 4   double 4   double 4
9    single 5   single 7   single 1
10   double 5   double 5   double 5
11   single 7   single 9   single 3
12   double 6   double 6   double 6
13   single 9  single 11   single 5
14   double 7   double 7   double 7
15  single 11  single 13   single 7
16   double 8   double 8   double 8
17  single 13  single 15   single 9
18   double 9   double 9   double 9
19  single 15  single 17  single 11
20  double 10  double 10  double 10
21  single 17  single 19  single 13
22  double 11  double 11  double 11
23  single 19   triple 7  single 15
24  double 12  double 12  double 12
25   single 9   single 9  single 17
26  double 13  double 13  double 13
27  single 11  single 11  single 19
28  double 14  double 14  double 14
29  single 13   triple 9  single 13

In [5]:
p.strategy_values[:,0:3]

array([[1.        , 0.        , 0.96422413],
       [1.        , 0.        , 0.9623108 ],
       [1.        , 0.        , 0.95380711]])

In [6]:
score = 4
current_throw = 0

In [7]:
all_strategies = (p.evaluate_all_singles(score, current_throw)
                          + p.evaluate_all_doubles(score, current_throw)
                          + p.evaluate_all_triples(score, current_throw)
                          + p.evaluate_bull(score, current_throw))

In [8]:
sorted(all_strategies,key = lambda x: x['expectation'])[-1]

{'strategy': 'double 2', 'expectation': 0.981077953726318}

In [9]:
all_strategies

[{'strategy': 'single 1', 'expectation': 0.9538071079312671},
 {'strategy': 'single 2', 'expectation': 0.9623107994257384},
 {'strategy': 'double 1', 'expectation': 0.9613541137321971},
 {'strategy': 'double 2', 'expectation': 0.981077953726318}]